pipeline/az_adls_task1_test_pipeline4.json
{
	"name": "az_adls_task1_test_pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "notebook_task1_test_pipeline4",
						"type": "NotebookReference"
					},
					"parameters": {
						"SubDirName": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "string"
						},
						"SourceFileList": {
							"value": {
								"value": "@string(activity('Filter1').output)",
								"type": "Expression"
							},
							"type": "string"
						},
						"TargetFileType": {
							"value": "parquet",
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "SPoolWeSmall",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"driverSize": "Small"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_adls_dynamic_set_Training_Dir_Only",
						"type": "DatasetReference",
						"parameters": {
							"SubDirName": "A"
						}
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Task-1-Tests"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-15T17:12:20Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}