pipeline/az_adls_task1_test_pipeline3.json
{
	"name": "az_adls_task1_test_pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_adls_dynamic_set_Training_Dir_Only",
						"type": "DatasetReference",
						"parameters": {
							"SubDirName": {
								"value": "@pipeline().parameters.SubDirName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata2').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter2').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata3",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "az_adls_dynamic_set_Target_Dir",
									"type": "DatasetReference",
									"parameters": {
										"SubDirName": {
											"value": "@activity('Get Metadata2').output.itemName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Get Metadata3').output.exists, 'True')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"deleteFilesAfterCompletion": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "az_adls_dynamic_set_Training_Dir",
												"type": "DatasetReference",
												"parameters": {
													"SubDirName": {
														"value": "@activity('Get Metadata2').output.itemName",
														"type": "Expression"
													},
													"FileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "az_adls_dynamic_set_Target_Dir",
												"type": "DatasetReference",
												"parameters": {
													"SubDirName": {
														"value": "@activity('Get Metadata2').output.itemName",
														"type": "Expression"
													},
													"FileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SubDirName": {
				"type": "string",
				"defaultValue": "default"
			}
		},
		"folder": {
			"name": "Task-1-Tests"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-15T17:12:17Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}