pipeline/File_Ingestion_Orchestrator.json
{
	"name": "File_Ingestion_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Metadata_DS",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "metadata",
							"Filename": "Metadata_File_v2.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtered Metadata Row",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().FileName, pipeline().parameters.Filename)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch- Based On Type",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Filtered Metadata Row",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toUpper(\n    concat(activity('Filtered Metadata Row').output.value[0].FileType\n        , '_to_'\n        , 'parquet'\n    )\n)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "CSV_TO_PARQUET",
							"activities": [
								{
									"name": "Copy From Bronze- Csv To Parquet",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_Csv",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@activity('Filtered Metadata Row').output.value[0].InputContainer",
													"type": "Expression"
												},
												"Filename": {
													"value": "@activity('Filtered Metadata Row').output.value[0].FileName",
													"type": "Expression"
												},
												"Delimiter": {
													"value": "@activity('Filtered Metadata Row').output.value[0].Delimiter",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_Parquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@activity('Filtered Metadata Row').output.value[0].TargetContainer",
													"type": "Expression"
												},
												"Directory": {
													"value": "@concat(activity('Filtered Metadata Row').output.value[0].BronzeFolder\n    , '/'\n    , activity('Filtered Metadata Row').output.value[0].Source\n    , '/'\n    , replace(activity('Filtered Metadata Row').output.value[0].FileName\n        , concat('.', activity('Filtered Metadata Row').output.value[0].FileType)\n        , ''\n    )\n)",
													"type": "Expression"
												},
												"Filename": {
													"value": "@concat(\n    replace(activity('Filtered Metadata Row').output.value[0].FileName\n        , activity('Filtered Metadata Row').output.value[0].FileType\n        , ''\n    )\n    , 'parquet'\n)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "XLSX_TO_PARQUET",
							"activities": [
								{
									"name": "Wait3",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Archive Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Switch- Based On Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_DropIn_Archieve",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							},
							"Filename": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_DropIn_Archieve",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@concat(activity('Filtered Metadata Row').output.Value[0].ArchiveContainer\n    , '/'\n    , activity('Filtered Metadata Row').output.Value[0].BronzeFolder\n    , '/'\n    , activity('Filtered Metadata Row').output.Value[0].Source\n)",
								"type": "Expression"
							},
							"Filename": {
								"value": "@concat(\n    replace(pipeline().parameters.Filename\n        , activity('Filtered Metadata Row').output.Value[0].FileType\n        , ''\n    )\n    , '/'\n    , formatDateTime(pipeline().TriggerTime, 'yyyy-MM-dd-HH-mm')\n    , '_'\n    , activity('Filtered Metadata Row').output.Value[0].FileName\n)\n\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Bronze To Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(\n    or( equals(coalesce(activity('Filtered Metadata Row').output.Value[0].GoldNoteBookName, 'null'), 'null')\n        , empty(activity('Filtered Metadata Row').output.Value[0].GoldNoteBookName)\n    )\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Silver To Gold",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "@activity('Filtered Metadata Row').output.Value[0].GoldNoteBookName",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"parameters": {
									"StorageAccount": {
										"value": {
											"value": "@activity('Filtered Metadata Row').output.Value[0].StorageAccount",
											"type": "Expression"
										},
										"type": "string"
									},
									"TargetContainer": {
										"value": {
											"value": "@activity('Filtered Metadata Row').output.Value[0].TargetContainer",
											"type": "Expression"
										},
										"type": "string"
									},
									"Path": {
										"value": {
											"value": "@activity('Filtered Metadata Row').output.Value[0].SilverDeltaPath",
											"type": "Expression"
										},
										"type": "string"
									},
									"GoldDeltaPath": {
										"value": {
											"value": "@activity('Filtered Metadata Row').output.Value[0].GoldDeltaPath",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": {
										"value": "@activity('Filtered Metadata Row').output.Value[0].SparkPoolName",
										"type": "Expression"
									},
									"type": "BigDataPoolReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Bronze To Silver",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Switch- Based On Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "@activity('Filtered Metadata Row').output.Value[0].SilverNotebookName",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"parameters": {
						"StorageAccount": {
							"value": {
								"value": "@activity('Filtered Metadata Row').output.Value[0].StorageAccount",
								"type": "Expression"
							},
							"type": "string"
						},
						"TargetContainer": {
							"value": {
								"value": "@activity('Filtered Metadata Row').output.Value[0].TargetContainer",
								"type": "Expression"
							},
							"type": "string"
						},
						"Path": {
							"value": {
								"value": "@concat(activity('Filtered Metadata Row').output.Value[0].BronzeFolder\n    , '/'\n    , activity('Filtered Metadata Row').output.Value[0].Source\n    , '/'\n    , replace(pipeline().parameters.FileName\n        , concat('.', activity('Filtered Metadata Row').output.Value[0].FileType)\n        , ''\n    )\n    , '/'\n    , replace(pipeline().parameters.FileName\n        , activity('Filtered Metadata Row').output.Value[0].FileType\n        , 'parquet'\n    )\n)",
								"type": "Expression"
							},
							"type": "string"
						},
						"SilverDeltaPath": {
							"value": {
								"value": "@activity('Filtered Metadata Row').output.Value[0].SilverDeltaPath",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": {
							"value": "@activity('Filtered Metadata Row').output.Value[0].SparkPoolName",
							"type": "Expression"
						},
						"type": "BigDataPoolReference"
					}
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string",
				"defaultValue": "dropin"
			},
			"Filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "File Ingestion Pipeline"
		},
		"annotations": []
	}
}