pipeline/File_Ingestion_Orchestrator.json
{
	"name": "File_Ingestion_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Metadata_DS",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "metadata",
							"Filename": "Metadata_File.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtered Metadata Row",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().FileName, pipeline().parameters.Filename)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string",
				"defaultValue": "dropin"
			},
			"Filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "File Ingestion Pipeline"
		},
		"annotations": []
	}
}