pipeline/File_Ingestion_Orchestrator.json
{
	"name": "File_Ingestion_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Metadata_DS",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "metadata",
							"Filename": "Metadata_File.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtered Metadata Row",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().FileName, pipeline().parameters.Filename)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch- Based On Type",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Filtered Metadata Row",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@toUpper(\n    concat(activity('Filtered Metadata Row').output.value[0].FileType\n        , '_to_'\n        , 'parquet'\n    )\n)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "CSV_TO_PARQUET",
							"activities": [
								{
									"name": "Wait2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "XLSX_TO_PARQUET",
							"activities": [
								{
									"name": "Wait3",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string",
				"defaultValue": "dropin"
			},
			"Filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "File Ingestion Pipeline"
		},
		"annotations": []
	}
}