pipeline/PL_Test_Read_Metadata.json
{
	"name": "PL_Test_Read_Metadata",
	"properties": {
		"activities": [
			{
				"name": "JsonLookUp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_Metadata",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"Filename": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "JsonLookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('JsonLookUp').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "JustPrintTestBook",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "JustPrintTestBook",
									"type": "NotebookReference"
								},
								"parameters": {
									"spark_executor_size": {
										"value": {
											"value": "@item().spark_executor_size",
											"type": "Expression"
										},
										"type": "string"
									},
									"spark_pool_name": {
										"value": {
											"value": "@item().spark_pool_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"container_name": {
										"value": {
											"value": "@item().container_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"storage_account": {
										"value": {
											"value": "@item().storage_account",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": {
										"value": "@item().spark_pool_name",
										"type": "Expression"
									},
									"type": "BigDataPoolReference"
								},
								"executorSize": {
									"value": "@item().spark_executor_size",
									"type": "Expression"
								},
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "metadata"
			},
			"Directory": {
				"type": "string"
			},
			"Filename": {
				"type": "string",
				"defaultValue": "Json_Metadata.json"
			}
		},
		"folder": {
			"name": "S3 to ADLS"
		},
		"annotations": []
	}
}