pipeline/PRV-Calling.json
{
	"name": "PRV-Calling",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRV-Child",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set variable fname",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fname",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.fname",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable lname",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable fname",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "lname",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.lname",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SearchOnAnyEngine",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.searchEngine",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			}
		],
		"variables": {
			"fname": {
				"type": "String"
			},
			"lname": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-13T17:56:13Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}